@import "~bootstrap/scss/bootstrap.scss";

body{
    background: grey;
    color: white;
    font-size: 20px;   
}
h1 {
    font-size: 30px;
    padding-bottom: 5px;
}
li{
    border-bottom: 1px solid lightgrey;
    text-align: center;
}
li:hover {
    cursor: pointer;
}

.container {
    background-color: black;
    width: 20%;
    padding: 5px;
    margin: auto;
      
}
button{
    color: lightgrey;
    background: white;
    width: 50px;
    text-align: center;
    margin-left: 5%;
    border: solid 1px lightgrey;
    border-radius: 10px;
}

.select {
    background-color:lightgrey;
    border-radius: 10px;
}
.headermusic{
margin: 30px;
}
.bodymusic{
padding-left: 30px;
    padding-right: 30px;
    margin: 30px;
}
.footermusic{
        padding-left: 30px;
    padding-right: 30px;
    margin-bottom: 30px;
    margin-top: 30px;
}
.corp{
    border-radius: 32px;
    border: inset;
}